.background    { background: #250B62;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: #ED53D5; }
.wall          { background: #08B7EE; }
.floater       { background: #FFC1A0; }

.actor  { position: absolute;  }
.coin   { background: #89F469; }
.player { background: white; }
.fireball { background: #D22738;}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
